doctype html
html
  head
    title= title
    link(rel="stylesheet", href="./css/bootstrap.min.css")
    script(src="./js/bootstrap.js", defer) 
    link(rel='stylesheet' href='/styles.css')
  body.container
    h1= message
    .container
      // save CSV button (will be done with event listener
      button.btn.btn-primary#saveCSV(type="button") Save CSV
      // loop through subjectList and make an accordion containing the trials
      // if a subject is marked as "completed", add a badge, and fold the accordion
      each subject in subjectList
        - var classes = ['accordion-collapse', 'collapse']
        - var headerClasses = ['accordion-header']
        - var buttonClasses = ['accordion-button']
        if subject.completed
          - classes.push("collapsed")
          - headerClasses.push("bg-success")
          - buttonClasses.push("bg-success")
        else 
          - classes.push("show")
          - headerClasses.push("bg-danger")
          - buttonClasses.push("bg-danger")
        .accordion(id="subject"+subject.subject)
          .accordion-item
            h2(class=headerClasses, id="headingOne" + subject.subject)
              button(type="button", data-bs-toggle="collapse", data-bs-target="#collapse"+subject.subject, aria-expanded="true", aria-controls="collapse"+subject.subject, class=buttonClasses)
                | Subject #{subject.subject}
                if subject.completed
                  span.badge.bg-success.mx-2 Completed
            div(show id="collapse"+subject.subject, aria-labelledby="headingOne" + subject.subject, class=classes)
              .accordion-body
                // loop through the trials and make a card for each
                each trial in subject.trials
                  // and link to the trial page
                  if trial.aois_saved
                    a.btn.btn-success(href="/trial/"+subject.subject+"/"+trial.trial) Trial #{trial.trial}
                  else
                    a.btn.btn-danger(href="/trial/"+subject.subject+"/"+trial.trial) Trial #{trial.trial}
    script. 
      window.addEventListener('DOMContentLoaded', (event) => {
        // add event listener to saveCSV button to post to /saveCSV
        document.getElementById('saveCSV').addEventListener('click', function() {
          fetch('/saveCSV', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            alert("CSV saved successfully");
          })
          .catch((error) => {
            console.error('Error:', error);
            alert("Error saving CSV");
          });
        });
      });
